body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease-out;
  
    &.dark-mode {
      background-color: #333;
      color: #fff;
      header {
        background-color: #3e3e3e;
        color: #fff;
      }
      .box {
        background-color: #3e3e3e;
        color: white;
      }
      footer {
        background-color: #3e3e3e;
        color: #fff;
      }

    }
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: auto;
    }
  }
  
  #dark-mode-toggle {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
  

    &:hover {
      background-color: #333;
      color: #fff;
    }
  
    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // height: calc(100vh - 100px);
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      height: auto;
      padding: 20px;
      flex-direction: column;
    }
  }
  
  .box {
    background-color: #ccc;
    border: 1px solid #999;
    padding: 20px;
    flex-basis: calc(33.33% - 20px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 47rem;
    & .boxdescription {
      align-items: center;
      display: inherit;
      h1 {
        text-decoration: underline;
      }
      
    }
    & .boximg {
      height: auto;
      max-width: 100%;
      img {
        height: 375px;
        width: 375px;
        border-radius: 50%;
        border: 3px solid #999;
        
        &:hover {
          border: 3px solid #fff;
          transition: 1s ease-in-out;
        }
      }
    }
    &:hover {
        background-color: #999;
        transition: 1s ease-in-out;
    }

  }
  
  footer {
    background-color: #333;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media screen and (max-width: 768px) {
      height: auto;
      margin-top: 20px;
    }
  }
  